p {
  margin-bottom: 0;
}
.container {
  max-width: 1310px;
}
.icon-social img {
  width: 20px;
}
.icon-social {
  width: 100px;
}
.welcome-service {
  /* height: 50px; */
  margin-bottom: 20px;
  padding: 10px 0;
}
.logo-header {
  width: 20%;
}
.hotline p {
  font-size: 23px;
  color: red;
  font-weight: 700;
}
.name-header {
  width: 55%;
}
.name-header h1 {
  text-transform: uppercase;
  color: red;
  font-size: 29px;
  font-weight: 600;
}
.name-header h1 span {
  font-size: 38px;
}
.phone-header {
  width: 25%;
}
.hotline {
  text-decoration: none;
  color: #000000;
  flex-direction: row;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin-inline: 60px;
}
.img-hotline {
  position: relative;
}
.img-hotline i {
  font-size: 30px;
  padding: 10px;
  color: red;
}
.img-hotline::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  border: 1px solid red;
  border-radius: 50%;
  /* animation: chuyendong1 1s infinite ease-in-out; */
  /* top: 0;
  left: 0;
  bottom: 0;
  right: 0; */
}
.header {
  text-align: center;
  align-items: center;
  margin-bottom: 40px;
}
.navbar-nav {
  width: 100%;
  display: flex;
  justify-content: space-around;
}

.navbar {
background-color: #156005;
    padding: 0 15px;
    position: absolute;
    z-index: 1;
    width: 100%;
    bottom: -20px;
}
.nav-link {
  color: #fff;
  text-transform: uppercase;
  font-weight: 600;
}
.navbar-nav .nav-link.active {
  color: yellow;
  background-color: #0a4e25;
}
.logo-header img {
  width: 100%;
  object-fit: cover;
  height: 160px;
}
.nav-link:hover {
  color: yellow;
  background-color: #0a4e25;
}
.slick-img img {
  width: 100%;
  height: 500px;
  object-fit: fill;
}
.slick-img {
  overflow: hidden;
}
.slick-arrow {
  max-width: 10%;
  position: absolute;
  top: 50%;
  border: none;
  background: rgba(123, 124, 119, 0.5);
  z-index: 300;
  font-size: 30px;
  color: #fff;
  font-weight: 600;
}
.slick-prev {
  text-align: left;
  left: 20px;
}
.slick-next {
  text-align: right;
  right: 20px;
}
.fr-flex{
  height: 30px;
  margin-top: 5px;
}
.btn-search{
  color: #fff;
  display: flex;
  align-items: center;
}
.btn:hover{
   color: yellow;
  background-color: #0a4e25;
}
.intro-welcome-service { 
  overflow: hidden;
} 
.intro-welcome-service .left-to-right {
  position: relative;
  animation: CSSright linear 10s infinite;
} 
@keyframes CSSright {
  0% { right: -100% }
  100% { right: 100% }
}
.menu{
  position: relative;
}