a {
  text-decoration: none;
  color: black;
}
p {
  margin-bottom: 0;
}
.design,
.project,
.process {
  background: #eeeeee;
}
.project,
.process {
  padding-bottom: 35px;
}
.footer {
  background-color: #0c5027;
}
.header {
  background: url(../images/bg-header-1375.jpg) no-repeat center;
  background-size: cover;
}
.container {
  max-width: 1310px;
}
.icon-social img {
  width: 20px;
}
.icon-social {
  width: 100px;
}
.welcome-service {
  /* height: 50px; */
  margin-bottom: 20px;
  padding: 10px 0;
}
.logo-header {
  width: 20%;
}
.hotline p {
  font-size: 23px;
  color: red;
  font-weight: 700;
}
.name-header {
  width: 55%;
}
.name-header h1 {
  text-transform: uppercase;
  color: red;
  font-size: 29px;
  font-weight: 600;
}
.name-header h1 span {
  font-size: 38px;
}
.phone-header {
  width: 25%;
}
.hotline {
  text-decoration: none;
  color: #000000;
  flex-direction: row;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin-inline: 60px;
}
.img-hotline {
  position: relative;
}
.img-hotline i {
  font-size: 30px;
  padding: 10px;
  color: red;
}
.img-hotline::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  border: 1px solid red;
  border-radius: 50%;
  /* animation: chuyendong1 1s infinite ease-in-out; */
  /* top: 0;
  left: 0;
  bottom: 0;
  right: 0; */
}
.header {
  text-align: center;
  align-items: center;
  margin-bottom: 40px;
}
.navbar-nav {
  width: 100%;
  display: flex;
  justify-content: space-around;
}

.navbar {
  background-color: #156005;
  padding: 0 15px;
  position: absolute;
  z-index: 1;
  width: 100%;
  bottom: -20px;
}
.nav-link {
  color: #fff;
  text-transform: uppercase;
  font-weight: 600;
}
.navbar-nav .nav-link.active {
  color: yellow;
  background-color: #0a4e25;
}
.logo-header img {
  width: 100%;
  object-fit: cover;
  height: 160px;
}
.nav-link:hover {
  color: yellow;
  background-color: #0a4e25;
}
.slick-img img {
  width: 100%;
  height: 500px;
  object-fit: fill;
}
.slick-img {
  overflow: hidden;
}
.slick-arrow {
  max-width: 10%;
  position: absolute;
  top: 50%;
  border: none;
  background: rgba(123, 124, 119, 0.5);
  z-index: 300;
  font-size: 30px;
  color: #fff;
  font-weight: 600;
}
.slick-prev {
  text-align: left;
  left: 20px;
}
.slick-next {
  text-align: right;
  right: 20px;
}
.fr-flex {
  height: 30px;
  margin-top: 5px;
}
.btn-search {
  color: #fff;
  display: flex;
  align-items: center;
}
.btn:hover {
  color: yellow;
  background-color: #0a4e25;
}
.intro-welcome-service {
  overflow: hidden;
}
.intro-welcome-service .left-to-right {
  position: relative;
  animation: CSSright linear 10s infinite;
}
@keyframes CSSright {
  0% {
    right: -100%;
  }
  100% {
    right: 100%;
  }
}
.menu {
  position: relative;
}
.address-header {
  font-size: 20px;
  font-weight: 600;
}
.info-company {
  text-align: center;
  margin-top: 50px;
}
.description-company p {
  font-size: 20px;
  line-height: 1.5;
  font-weight: 400;
}
.description-company {
  padding: 0 200px;
}
.title-company {
  text-transform: uppercase;
  color: green;
  margin-bottom: 35px;
}
.title-company h1 {
  font-size: 28px;
  font-weight: 700;
}
.slick-img-info img {
  width: 100px;
  height: 100px;
  object-fit: fill;
}
.slick-img-info {
  overflow: hidden;
  transition: all 0.3s;
}
.slick-initialized .slick-slide {
  /* display: flex;
  justify-content: center; */
}
.slick-img-info {
  display: flex;
  justify-content: center;
  margin-top: 10px;
  transform: 0.3s;
}
.slick-info {
  width: 300px !important;
  /* border: 1px solid; */
  margin: 0 10px;
  overflow: hidden;
  border: 0;
  box-shadow: inset 0 0 0 1px #2c2c2c27;
  position: relative;
  border-radius: 8px;
}
.text-slideshow h3 {
  margin: 5px 0;
}
.text-slideshow {
  transition: 0.3s;
  text-align: center;
}
.slick-info:hover .slick-img-info,
.slick-info:hover .text-slideshow {
  transform: scale(1.1);
  transition: 0.3s;
}
.slideshow-info {
  margin: 40px 0;
  height: 200px;
}
.text-split {
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  display: -webkit-box;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: normal;
}
.slick-info:hover {
}

.btn-add button {
  padding: 10px 20px;
  background-color: grey;
  color: #fff;
  border: 1px solid;
  transition: all 0.3s;
}
.btn-add button:hover {
  color: yellow;
  background-color: #0a4e25;
  transition: all 0.3s;
}
.inner-col-img img {
  width: 100%;
  height: 250px;
}
.inner-col {
  padding: 10px;
  margin-bottom: 20px;
  border: 0;
  box-shadow: inset 0 0 0 1px #2c2c2c27;
  position: relative;
  background-color: #0a4e25;
  border-radius: 8px;
}
.inner-col:hover,
.slick-design.slick-slide:hover {
  box-shadow: rgb(0 0 0 / 24%) 0px 3px 8px;
  background: #0a4e25;
  border-radius: 8px;
}
.inner-col-img {
  overflow: hidden;
}
.inner-col-img img {
  transition: all 0.3s;
}
.inner-col-img:hover img,
.slick-img-design:hover img {
  transform: scale(1.1);
  transition: all 0.3s;
}
.inner-col-des {
  text-align: center;
}
.inner-col-des .col-title h3 {
  font-size: 21px;
  transition: all 0.3s;
  color: #fff;
  text-transform: uppercase;
}
.inner-col-des .col-title {
  margin: 5px 0;
}
.inner-col-des .col-des p {
  font-size: 15px;
  line-height: 1.5;
  color: #fff;
}
.inner-col:hover .inner-col-des .col-title h3,
.slick-design:hover .text-slideshow-design .slideshow-title h3 {
  color: yellow;
  transition: all 0.3s;
}
.slideshow-des p {
  color: #fff;
}
.slideshow-title h3 {
  color: #fff;
}
.title-design {
  text-transform: uppercase;
  color: green;
  margin-bottom: 35px;
  text-align: center;
  font-size: 30px;
  padding-top: 35px;
}

.title-design h1 {
  font-size: 32px;
  font-family: Arial;
  font-weight: bold;
}
.slick-design.slick-slide {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  border: 0;
  box-shadow: inset 0 0 0 1px #2c2c2c27;
  position: relative;
  background-color: #0a4e25;
  border-radius: 8px;
}
.slick-img-design {
  width: 100%;
  margin: 10px;

  overflow: hidden;
}
.slick-img-design img {
  width: 100%;
  height: 125px;
}
.slideshow-title h3 {
  font-size: 21px;
  text-transform: uppercase;
}
.form-control:focus {
  border-color: yellow;
}
.btn-add {
  text-align: center;
  margin-bottom: 40px;
}
.inner-col::before,
.inner-col::after,
.slick-info::before,
.slick-info::after,
.slick-design::before,
.slick-design::after {
  box-sizing: border-box;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
}
.draw {
  -webkit-transition: color 0.25s;
  transition: color 0.25s;
}
.draw::before,
.draw::after {
  border: 2px solid transparent;
  width: 0;
  height: 0;
}
.draw::before {
  top: 0;
  left: 0;
  border-radius: 8px;
}
.draw::after {
  bottom: 0;
  right: 0;
  border-radius: 8px;
}
.draw:hover::before,
.draw:hover::after {
  width: 100%;
  height: 100%;
  border-radius: 8px;
}
.draw:hover::before {
  /* border-top-color: #60daaa;
  border-right-color: #60daaa; */
  -webkit-transition: width 0.25s ease-out, height 0.25s ease-out 0.25s;
  transition: width 0.25s ease-out, height 0.25s ease-out 0.25s;
}
.draw:hover::after {
  /* border-bottom-color: #60daaa;
  border-left-color: #60daaa; */
  -webkit-transition: border-color 0s ease-out 0.5s, width 0.25s ease-out 0.5s,
    height 0.25s ease-out 0.75s;
  transition: border-color 0s ease-out 0.5s, width 0.25s ease-out 0.5s,
    height 0.25s ease-out 0.75s;
}
.meet::after {
  top: 0;
  left: 0;
  border-radius: 8px;
}
.meet:hover::before {
  border-top-color: #24ca03;
  border-right-color: #24ca03;
  border-radius: 8px;
  /* border-radius: 50%; */

  /* border-top-color: ; */
}
.meet:hover::after {
  border-bottom-color: #f5f10d;
  /* border-radius: 50%; */
  border-left-color: #f5f10d;
  border-radius: 8px;
  -webkit-transition: height 0.25s ease-out, width 0.25s ease-out 0.25s;
  transition: height 0.25s ease-out, width 0.25s ease-out 0.25s;
}
.construct .inner-col-img img {
  width: 100%;
  height: 300px;
  object-fit: cover;
}
.construction-project-slideshow .inner-col {
  margin: 0 10px;
}
.construction-project-slideshow .slick-list {
  margin: 0 -10px;
}
.construction-project-slideshow {
  margin-bottom: 40px;
}
.slideshow-process {
  display: flex;
  justify-content: space-between;
}
.effect {
  position: relative;
  border: 0;
  box-shadow: inset 0 0 0 1px #2c2c2c27;
  width: 250px;
  height: 250px;
  display: flex;
  align-items: center;
  border-radius: 50%;
  justify-content: center;
  padding: 20px;
}
.effect::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  border: 1px dashed green;
  border-radius: 50%;
  /* animation: chuyendong1 3s infinite ease-in; */
}
@keyframes chuyendong1 {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.slick-process {
  width: 200px;
  height: 200px;
  border-right-width: 20px;
  border-right-color: green;
  border-right-style: solid;
  border-top-width: 20px;
  border-top-color: green;
  border-top-style: solid;
  border-left-width: 20px;
  border-left-color: yellow;
  border-left-style: solid;
  transform: rotate(120deg);
  border-bottom-width: 20px;
  border-bottom-color: yellow;
  border-bottom-style: solid;
  position: relative;
  border-radius: 100%;
  display: flex;
  align-items: center;

  /* z-index: 1; */
}
.slick-process::before {
  content: "";
  position: absolute;
  background-color: #fff;
  width: 22px;
  height: 20px;
  transform: rotate(45deg) translateY(-50px) translateX(-41px);
  left: 0;
}
.effect:hover:before {
  animation: chuyendong1 3s infinite ease-in;
}
.slick-process::after {
  content: "";
  position: absolute;
  background-color: #fff;
  width: 22px;
  height: 20px;
  transform: translateY(68px) rotate(45deg) translateX(-7px);
  right: 0;
}
.text-slideshow-process {
  transition: 0.3s;
  text-align: center;
  transform: rotate(-121deg);
}
.text-slideshow-process h3 {
  font-size: 26px;
}
.name-company-footer {
  text-align: center;
  text-transform: uppercase;
  font-size: 36px;
  font-weight: 600;
  padding: 0 70px;
}
.name-company-footer h1 {
  font-size: 28px;
  font-weight: 600;
  color: #fff;
}
.address-footer p,
.hotline-footer p,
.email-footer p,
.website-footer p {
  font-size: 20px;
  line-height: 2;
  color: #fff;
}
.hotline-footer a:hover,
.email-footer a:hover,
.website-footer a:hover {
  color: yellow;
  transition: all 0.3s;
}
.hotline-footer a,
.email-footer a,
.website-footer a {
  color: #fff;
  transition: all 0.3s;
}
.bottom-footer {
  text-align: center;
  border-top: 1px solid green;
  padding: 6px 0;
  color: #fff;
}
.bottom-footer a:hover {
  color: yellow;
  transition: all 0.3s;
}
.bottom-footer a {
  color: #fff;
  transition: all 0.3s;
}
.footer .title-design {
  color: #fff;
}
.footer .title-design h1 {
  font-size: 30px;
}
.icon-social-bottom {
  width: 100%;
  text-align: center;
  font-size: 25px;
  color: #fff;
}
.icon-social-bottom i {
  margin: 0 10px;
  transition: all 0.3s;
}
.icon-social-bottom i:hover {
  color: yellow;
  transition: all 0.3s;
}
