.formText {
  text-align: center;
}
.text {
  color: #707b7f;
}
.h1 {
  font-weight: bold;
}
.container {
  display: flex;
  justify-content: space-evenly;
  padding: 10px;
  margin-top: 100px;
}
.price {
  font-size: larger;
  font-weight: bold;
}
.name {
  font-size: medium;
  color: #6d777b;
}
.item1 {
  position: relative;
  width: 375px;
}
.iconcontainer {
  background-color: black;
  width: 40px;
  border-radius: 20px;
  height: 40px;
  justify-content: center;
  align-items: center;
  display: flex;
  position: absolute;
  left: 290px;
  top: 282px;
}
.icon {
  color: white;
  font-weight: bold;
  font-size: 20px;
}
.button {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}
.button1 {
  padding: 10px;
  border-radius: 5px;
  background-color: black;
  color: white;
}
.backgroundimge {
  width: 375px;
  height: 300px;
  border-radius: 15px;
}
.snackimge {
  position: absolute;
  margin-top: -70px;
}
.snack {
  padding-left: 65px;
}
