.formText {
  text-align: center;
}
.text {
  color: gray;
}
.container {
  display: flex;
  justify-content: space-evenly;
  padding: 10px;
  margin-top: 100px;
}
.price {
  font-weight: bold;
}
.name {
  font-size: small;
}
.item1{
    position: relative;
}
.iconcontainer {
  background-color: black;
  width: 30px;
  border-radius: 20px;
  height: 30px;
  justify-content: center;
  align-items: center;
  display: flex;
  position: absolute;
  left: 170px;
  top: 185px;
}
.icon {
  color: white;
  font-weight: bold;
  font-size: 20px;
}
.button {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}
.button1 {
  padding: 10px;
  border-radius: 5px;
  background-color: black;
  color: white;
}
.backgroundimge{
    
} 
.snackimge{
  position: absolute;
  margin-top: -70px;
}
.snack{
    padding-left: 15px;
}
