:root {
  --color-green: #4ab268;
}
* {
  box-sizing: border-box;
}
.container {
  max-width: 1250px;
}
.header-top {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0;
}
.header-top .address-header .address-company {
  margin-bottom: 0;
  color: #303b51;
  font-size: 18px;
  font-weight: 600;
}
.header-top .phone-header a p {
  margin-bottom: 0;
}
.navbar-nav .nav-link.active:active {
  color: #303a51;
}
.header-top .phone-header a {
  text-decoration: none;
}
.hotline-header {
  background: url("https://xaydungquangminh.com/assets/images/phone-46.png")
    no-repeat left center;
  display: inline-block;
  padding: 7px 0 7px 55px;
}
.logo-header {
  width: 25%;
}
.logo-header img {
  width: 100%;
  height: 150px;
  object-fit: contain;
}
.phone-header {
  width: 20%;
}
.address-header {
  width: 55%;
  text-align: center;
}
.address-header .name-address {
  font-size: 26px;
  color: var(--color-green);
  font-weight: bold;
  margin-bottom: 0;
}
.hotline-header .hotline {
  color: #ea0101;
  font-size: 24px;
  font-weight: bold;
}
.hotline-header p {
  color: #000;
}
.navbar-nav {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.navbar {
  background-color: var(--color-green);
}
.navbar-collapse .navbar-nav .nav-item .nav-link {
  color: #fff;
  text-transform: uppercase;
  font-weight: 500;
}
.slick-arrow {
  max-width: 10%;
  position: absolute;
  top: 40%;
  border: none;
  background: rgba(123, 124, 119, 0.5);
  z-index: 300;
  font-size: 30px;
  color: #fff;
  font-weight: 600;
}
.slick-prev {
  text-align: left;
  left: 0;
}
.slick-next {
  text-align: right;
  right: 0;
}
.slideshow {
  max-width: 100%;
}
.slideshow .slick-img img {
  width: 100%;
  max-height: 500px;
  object-fit: fill;
}
.slick-list {
  max-width: 100%;
  max-height: 500px;
}
.introduce {
  margin-top: 50px;
}
.introduce .introductory-text h1 {
  text-align: center;
  margin-bottom: 15px;
}
.introduce .introductory-text .describe {
  line-height: 1.75;
}
.introduce .col-introductory-img .introductory-img img {
  width: 100%;
  transition: 0.3s ease-in-out;
}
.introduce .col-introductory-img .introductory-img {
  overflow: hidden;
  border-radius: 50px;
}
.introduce .col-introductory-img .introductory-img:hover img {
  transform: scale(1.1);
  transition: all 0.3s ease-in-out;
}

.build-house {
  text-align: center;
  margin: 30px 0;
  background: url("https://xaydungquangminh.com/assets/images/tcat-b.png")
    no-repeat bottom center;
  position: relative;
  padding: 0 0 35px 0;
}
.build-house h1 {
  font-size: 32px;
  font-weight: bold;
  text-transform: uppercase;
}
.list-build-house .build-house-img img {
  object-fit: fill;
  width: 100%;
  height: 300px;
}
.list-build-house .build-house-img {
  transition: 0.3s ease-in-out;
}
.list-build-house .build-house-img {
  position: relative;
}
.list-build-house .box-item .build-house-img::before {
  content: "";
  background-color: rgba(255, 255, 255, 0.15);
  height: 0;
  width: 0;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  transition: all 0.8s ease-in-out 0s;
}
.list-build-house .box-item .build-house-img::after {
  content: "";
  background-color: rgba(255, 255, 255, 0.15);
  height: 0;
  width: 0;
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 2;
  transition: all 0.8s ease-in-out 0s;
}
.box-item:hover .build-house-img::after {
  width: 100%;
  height: 100%;
}
.box-item:hover .build-house-img::before {
  width: 100%;
  height: 100%;
}
.list-build-house .build-house-box {
  padding: 20px 20px;
  position: absolute;
  width: 100%;
  max-height: 100%;
  bottom: 0;
  text-align: left;
  text-shadow: 1px 1px 1px rgb(0 0 0 / 50%);
}
.list-build-house .build-house-box .build-house-title h3 {
  font-size: 20px;
  color: #fff;
  font-weight: bold;
}
.list-build-house {
  border: 2px solid #f5f5f5;
  background-color: #fff;
  border-radius: 10px;
  position: relative;
  overflow: hidden;
}
.box-item:hover .build-house-img {
  transform: scale(1.1);
  transition: all 0.3s ease-in-out;
}
.list-build-house .build-house-box .build-house-title a {
  text-decoration: none;
}
.build-house-title p {
  margin-bottom: 0;
}
.list {
  justify-content: center;
}
.product {
  margin-top: 70px;
}
.table-price-img {
  overflow: hidden;
}
.table-price-img img {
  width: 100%;
  transition: 0.3s ease-in-out;
}
.table-price-img img:hover {
  transform: scale(1.1);
  transition: all 0.3s ease-in-out;
}
.box .item-img img {
  width: 100%;
  object-position: center;
  height: 300px;
  object-fit: fill;
  transition: 0.3s ease-in-out;
}
.box .item-img {
  overflow: hidden;
}
.box {
  border: 1px solid #f5f5f5;
  background-color: #fff;
}
.box:hover .item-img img {
  transform: scale(1.1);
  transition: all 0.3s ease-in-out;
}
.box-text h3 {
  font-size: 26px;
  margin: 5px 0;
  font-weight: 700;
}
.list-build-project .box .item-img {
  position: relative;
}
.list-build-project .box .item-img::before {
  content: "";
  background-color: rgba(255, 255, 255, 0.15);
  height: 0;
  width: 0;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  transition: all 0.8s ease-in-out 0s;
}
.list-build-project .box .item-img::after {
  content: "";
  background-color: rgba(255, 255, 255, 0.15);
  height: 0;
  width: 0;
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 2;
  transition: all 0.8s ease-in-out 0s;
}
.box:hover .item-img::before {
  width: 100%;
  height: 100%;
}
.box:hover .item-img::after {
  width: 100%;
  height: 100%;
}
.button-add {
  text-align: center;
  margin: 60px 0 0 0;
}
.button {
  padding: 10px 20px;
  border: 0 solid transparent;
  outline: none;
  text-transform: uppercase;
  display: inline-block;
  font-size: 12px;
  position: relative;
}
.button-text {
  background-color: var(--color-green);
  text-align: center;
  color: #fff;
}
.button::after {
  content: "";
  background-color: rgba(255, 255, 255, 0.2);
  height: 50%;
  width: 0;
  bottom: 0;
  left: auto;
  right: 0;
  position: absolute;
  transition: 0.3s cubic-bezier(0.785, 0.135, 0.15, 0.86);
}
.button::before {
  content: "";
  background-color: rgba(255, 255, 255, 0.2);
  top: 0;
  left: 0;
  right: auto;
  height: 50%;
  width: 0;
  position: absolute;
  transition: 0.3s cubic-bezier(0.785, 0.135, 0.15, 0.86);
}
.button:hover::after {
  width: 100%;
  left: 0;
  right: auto;
}
.button:hover::before {
  width: 100%;
  left: auto;
  right: 0;
}
/* .item-slider-project .build-house-title h3 {
  font-size: 16px;
  color: var(--color-green);
} */
.slick-prev-project {
  text-align: left;
  left: -40px;
  padding-bottom: 4px;
}
.slick-next-project {
  text-align: right;
  right: -40px;
  padding-bottom: 4px;
}
.item-slider-project .img-project {
  overflow: hidden;
}
.item-slider-project .img-project img:hover {
  transform: scale(1.1);
  transition: all 0.3s ease-in-out;
}
.title-construction-manual h2 {
  font-weight: bold;
  text-transform: uppercase;
  font-size: 28px;
}
.title-video h2 {
  font-weight: bold;
  text-transform: uppercase;
  font-size: 28px;
  text-align: center;
}
.construction-manual-title-img {
  text-align: center;
  margin: 10px 0;
  padding: 0 10px;
  line-height: 1.5;
}
.construction-manual-title-img h3 {
  font-size: 20px;
  color: var(--color-green);
}
.img-construction-manual img {
  width: 100%;
  transition: 0.3s ease-in-out;
  height: 150px;
  object-fit: cover;
}
.construction-manual-describe {
  text-align: center;
  padding: 0 5px;
}
.img-video img {
  width: 50%;
}
.img-construction-manual {
  overflow: hidden;
}
.img-construction-manual img:hover {
  transform: scale(1.1);
  transition: all 0.3s ease-in-out;
}
.list-video {
  text-align: center;
}
.list-video .img-video {
  margin-bottom: 20px;
}
.title-construction-manual {
  margin: 30px 0;
}
.title-video {
  margin: 30px 0;
}
.form-search {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;
}
.icon-social img {
  width: 20px;
}
.form-gg p {
  font-size: 26px;
  font-weight: bold;
  text-align: center;
  color: #fff;
}
.form-gg {
  border: 1px solid green;
  padding: 50px 0;
  box-shadow: 0 0 5px 0;
}
.form-search .fa-magnifying-glass {
  margin-left: 10px;
  color: #fff;
}
.form-search .fa-magnifying-glass:hover {
  color: #526079;
  transition: all 0.3s ease-in-out;
}

.icon-social i {
  margin: 0 5px;
}
.icon-social {
  text-align: center;
}
.icon-social i {
  color: #fff;
}
.footer {
  background-color: #2f3a50;
}
.box-footer {
  margin: 20px;
  border: 1px solid transparent;
  padding: 20px 30px;
  background-color: var(--color-green);
  border-radius: 50px 0;
}
.footer-inner {
  color: #fff;
}
.footer-inner h3 {
  font-size: 18px;
  font-weight: bold;
}
.footer-inner ul li {
  font-size: 15px;
  padding: 5px 0;
  list-style-type: none;
}
.footer-inner ul li .fa-angle-right {
  font-size: 12px;
  color: var(--color-green);
}
.fa-angle-right:before {
  margin-left: -30px;
}
.fix-height {
  height: 350px;
}
.logo img {
  width: 100%;
  height: 200px;
  object-fit: contain;
}
.info-company .name-company {
  font-size: 20px;
  font-weight: bold;
  color: #fff;
}
.info-company .address-company {
  font-size: 16px;
  color: #fff;
}
.info-company .phone-company {
  font-size: 16px;
  color: #fff;
  display: flex;
}
.info-company .phone-company a {
  font-size: 16px;
  color: #fff;
  text-decoration: none;
  font-weight: bold;
}
.phone-company .phone {
  margin-right: 20px;
}
.phone-company .phone .fa-phone {
  margin-right: 5px;
}
.phone-company .website .fa-globe {
  margin-right: 5px;
}
.info-company .phone-company a:hover {
  transition: all 0.3s ease-in-out;
  color: #526079;
}
.info-company .website-company a:hover {
  color: #526079;
  transition: all 0.3s ease-in-out;
}
.icon-social i:hover {
  color: #526079;
}
.icon-social i:hover img {
  background-color: #526079;
  transition: all 0.3s ease-in-out;
}
.icon-social i img {
  background-color: #fff;
}
.footer .item-row {
  align-items: center;
  padding: 50px 0;
}
.info-company {
  line-height: 1.5;
}
.line hr {
  width: 100%;
  height: 2px;
  color: #fff;
  margin: 5px 0;
}
.line .text p {
  margin-bottom: 0;
}
.line .text .name {
  text-transform: uppercase;
  color: #fff;
}
.line .text .tax-code {
  color: #fff;
}
.design {
  color: #fff;
  text-decoration: none;
  text-transform: lowercase;
}
.text span {
  text-transform: none;
}
.design:hover {
  color: var(--color-green);
  /* text-transform: lowercase; */
}
.line .text {
  display: flex;
  justify-content: space-between;
  padding-bottom: 10px;
}
.product:nth-child(2n + 1) {
  background: #f7f7f7;
  padding: 30px 0 50px 0;
}
.img-construction-manual-title img {
  width: 100%;
  transition: 0.3s ease-in-out;
  height: 400px;
  object-fit: cover;
}
.img-construction-manual-title {
  overflow: hidden;
}
.img-construction-manual-title img:hover {
  transform: scale(1.1);
  transition: all 0.3s ease-in-out;
}
.bg-drak {
  background-color: rgba(0, 0, 0, 0.4);
  width: 100%;
  height: 100%;
  padding: 80px 0;
}
.bg-inner {
  background: url(https://nhadephoangthien.vn/wp-content/uploads/2021/12/thiet-ke-xay-dung-bg.jpg);
  background-size: cover !important;
  background-repeat: no-repeat !important;
  /* background-position: 50% 50%; */
  height: 600px;
  width: 100%;
  background-position: 0% 100%;
  display: flex;
  align-items: center;
}
.wrap {
  text-align: center;
}
.wrap .text h2 {
  font-size: 50px;
  font-weight: bold;
}
.content {
  position: relative;
}
.wrap {
  color: #fff;
}
.is-divider {
  width: 100%;
  height: 3px;
  max-width: 30px;
  background-color: rgba(255, 255, 255, 0.3);
  display: block;
  margin: 20px auto;
}
.wrap {
  font-size: 18px;
}
.box-border-1 {
  border: 10px solid #fff;
  padding: 80px 50px 80px 30px;
  border-left: 0px;
  position: relative;
}
.box-border-1::before {
  content: "";
  position: absolute;
  background-color: #fff;
  top: -10px;
  left: -10px;
  width: 10px;
  height: 140px;
}
.box-border-1::after {
  content: "";
  position: absolute;
  background-color: #fff;
  bottom: -10px;
  left: -10px;
  width: 10px;
  height: 140px;
}
.text-inner-box {
  color: #f1f1f1;
  line-height: 1.75;
  letter-spacing: 1px;
}
.text-inner-box p {
  margin-bottom: 20px;
}
.text-inner-box h2 {
  margin-bottom: 40px;
}
.item-center {
  align-items: center;
}
/* bootstrap md 768px */
@media (min-width: 768px) and (max-width: 991px) {
  .navbar-toggler {
    color: #fff;
    border: none;
  }
  .navbar-toggler:focus {
    box-shadow: none;
  }
  .list-build-house {
    margin-left: 0;
    margin-right: 0;
  }
  .logo img {
    width: 100%;
    height: 250px;
    object-fit: contain;
  }
  .footer .item-row {
    padding-top: 0;
  }
  .line .text {
    flex-direction: column;
    text-align: center;
  }
  .box-border-1 {
    padding: 80px 49px 50px 30px;
  }
  .bg-drak {
    padding: 50px 0;
  }
  .img-construction-manual-title img {
    object-fit: fill;
  }
}
/* bootstrap sm 576px */
@media (min-width: 576px) and (max-width: 767px) {
  .header-top {
    flex-direction: column;
  }
  .hotline-header {
    display: none;
  }
  .address-header {
    width: 100%;
  }
  .navbar-toggler {
    color: #fff;
    border: none;
  }
  .navbar-toggler:focus {
    box-shadow: none;
  }
  .table-price-img {
    margin-bottom: 10px;
  }
  .logo img {
    width: 100%;
    height: 250px;
    object-fit: contain;
  }
  .footer .item-row {
    padding-top: 0;
  }
  .line .text {
    flex-direction: column;
    text-align: center;
  }
  .slideshow .slick-img img {
    height: 700px;
  }
  .box-border-1 {
    padding: 50px 49px 50px 30px;
  }
  .bg-drak {
    padding: 50px 0;
  }
  .box-footer {
    padding: 0px 30px;
    margin: 20px 0;
  }
  .footer .item-row {
    padding: 0;
  }
}
@media (max-width: 575px) {
  .header-top {
    flex-direction: column;
  }
  .hotline-header {
    display: none;
  }
  .address-header {
    width: 100%;
  }
  .table-price-img {
    margin-bottom: 10px;
  }
  .line .text {
    flex-direction: column;
    text-align: center;
  }
  .logo img {
    width: 100%;
    height: 250px;
    object-fit: contain;
  }
  .footer .item-row {
    padding-top: 0;
  }
  .slideshow .slick-img img {
    height: 700px;
  }
  .bg-inner {
    height: 100%;
  }
   .box-footer {
    padding: 0px 30px;
    margin: 20px 0;
  }
  .fix-height{
    height: 100%;
  }
  .navbar-toggler {
    color: #fff;
    border: none;
  }
  .navbar-toggler:focus {
    box-shadow: none;
  }
}
