.nav-item {
  padding-left: 5px;
  padding-right: 5px;
  font-weight: bold;
}
.nav-item a:hover {
  color: #f3b13f;
}
.navbar-collapse {
  justify-content: space-around;
}
.dropdown:hover .dropdown-menu {
  display: block;
  transition: all 0.3s ease-in-out;
}
.dropdown-item {
  padding: 10px;
  border-bottom: 1px solid #dfdfdf;
  text-align: center;
}
.navbar {
  background-color: transparent;
  position: absolute;
  z-index: 1;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
}
.fixed-menu {
  position: fixed;
  z-index: 1000;
  box-shadow: 2px 5px 5px rgb(0, 0, 0, 0.35);
  background: green !important;
}
.nav-item .nav-link {
  color: #fff;
  font-size: 14px;
  font-family: Arial;
}
.banner-home {
  z-index: -1;
  width: 100%;
  overflow: hidden;
}
.banner-home .img-cover {
  object-fit: cover;
}
.banner-home .img-cover img {
  width: 100%;
  height: 500px;
}
.slider-warehouse .warehouse-img {
  object-fit: cover;
  padding-top: 50px;
}
.slider-warehouse .warehouse-img img {
  width: 100%;
  height: 600px;
}
.slick-dots {
  display: flex;
  justify-content: center;
  list-style-type: none;
}

.slick-dots li {
  margin: -80px 0.25rem;
  z-index: 1;
}

.slick-dots li button {
  display: block;
  width: 1rem;
  height: 1rem;
  padding: 0;
  border: none;
  border-radius: 100%;
  background-color: #c3dbe5;
  text-indent: -9999px;
  scale: 0.8;
}

.slick-dots li.slick-active button {
  background-color: #f3b13f;
  scale: 1;
}
.custom {
  position: relative;
  margin-top: 100px;
}
.custom .title-custom {
  text-align: center;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  font-size: 1.625rem;
  color: green;
  top: -100px;
  text-transform: uppercase;
  font-weight: bold;
}
.custom .title-custom::after {
  content: "";
  position: absolute;
  width: 50%;
  height: 5px;
  background-color: #f3b13f;
  bottom: -9px;
  left: 50%;
  transform: translateX(-50%);
}
.list-item-custom {
  margin-top: 100px;
}
.item-custom {
  text-align: center;
}
.title-service-custom a {
  color: green;
  text-decoration: none;
  font-size: 18px;
}
.title-service-custom {
  margin: 20px 0;
  height: 33px;
}
.box-content-custom {
  padding: 0px 12px;
}
.des-service-custom {
  font-size: 14px;
  color: #2b2b2b;
  line-height: 1.86;
}
.box-img-custom img {
  width: 100px;
  height: 80px;
}
.box-img-custom:hover img {
  scale: 1.1;
  transition: all 0.3s ease-in-out;
}
.title-service-custom:hover a {
  color: #f3b13f;
  transition: all 0.3s;
}
.exploit .title-exploit {
  text-align: center;
  position: absolute;
  color: #fff;
  text-transform: uppercase;
}
.exploit .title-exploit::after {
  content: "";
  position: absolute;
  width: 50%;
  height: 5px;
  background-color: #f3b13f;
  bottom: -9px;
  left: 0;
}
.exploit {
  background-color: #0e8d01;
  width: 100%;
  height: auto;
}
.wrap-title-exploit {
  padding: 50px 0;
  margin-top: 40px;
}
.box-img-exp {
  width: 100%;
  height: 216px;
}
.box-img-exp img {
  width: 100%;
  height: 100%;
}
.slider-exploit {
  display: flex;
  flex-direction: row;
  margin-top: 50px;
  padding-bottom: 50px;
}
.box-img-exp {
  padding: 0 20px;
}
.box-info-exp {
  padding: 0 20px;
}
.box-img-exp img {
  object-fit: cover;
}
.box-info-exp .size-detail {
  border: 1px solid #fff;
  width: 100%;
  text-align: center;
  padding: 5px 0;
}
.box-info-exp .size-detail a {
  color: #fff;
  text-decoration: none;
}
.box-info-exp .size-detail:hover a {
  color: #f3b13f;
  transition: all 0.3s ease-in-out;
}
.box-info-exp .size-detail:hover {
  border: 1px solid #f3b13f;
  transition: all 0.3s ease-in-out;
}
.box-info-exp .title-pos-exp a {
  font-size: 18px;
  text-decoration: none;
  color: #fff;
}

.box-info-exp .title-pos-exp:hover a {
  font-size: 18px;
  color: #f3b13f;
}
.box-info-exp p {
  font-size: 14px;
  line-height: 1.5;
  color: #fff;
  min-height: 75px;
}
.slick-arrow {
  position: absolute;
  top: 50%;
  height: 50px;
  line-height: 50px;
  margin-top: -25px;
  border: none;
  background: transparent;
  color: green;
  font-family: monospace;
  font-size: 2rem;
  z-index: 300;
  outline: none;
}
.fa-arrow-right-long:hover {
  color: #1cac27ad;
}
.fa-arrow-left-long:hover {
  color: #1cac27ad;
}
.slick-prev {
  right: 84px;
  text-align: left;
  top: -80px;
}
.slick-next {
  right: 25px;
  text-align: right;
  top: -80px;
}
.box-contact {
  text-align: center;
}
.box-contact .title-contact {
  /* margin: 50px 0;
  color: green;
  text-transform: uppercase;
  font-weight: bold; */
}
.box-contact img {
  width: 100%;
  object-fit: cover;
  margin-top: 150px;
}
/* .news {
} */

/* hot news */

.hotnews .title-hotnews {
  text-align: center;
  position: absolute;
  color: green;
  text-transform: uppercase;
}
.hotnews .title-hotnews::after {
  content: "";
  position: absolute;
  width: 50%;
  height: 5px;
  background-color: #f3b13f;
  bottom: -9px;
  left: 0;
}
.hotnews {
  background-color: #fff;
  width: 100%;
  height: auto;
}
.wrap-title-hotnews {
  padding: 50px 0;
  margin-top: 40px;
}
.box-img-hn {
  width: 100%;
  height: 216px;
}
.box-img-hn img {
  width: 100%;
  height: 100%;
}
.slider-exploit {
  display: flex;
  flex-direction: row;
  margin-top: 50px;
}
.box-img-hn {
  padding: 0 20px;
}
.box-info-hn {
  padding: 0 20px;
}
.box-img-hn img {
  object-fit: cover;
}
.box-info-hn h3 {
  min-height: 50px;
}
.box-info-hn .news a {
  color: green;
  text-decoration: none;
  text-transform: uppercase;
}
.box-info-hn .news:hover a {
  color: #f3b13f;
  transition: all 0.3s ease-in-out;
}
.box-info-hn .title-pos-hn a {
  font-size: 18px;
  text-decoration: none;
  color: green;
}
.box-info-hn .title-pos-hn:hover a {
  font-size: 18px;
  color: #f3b13f;
}
.box-info-hn p {
  font-size: 14px;
  line-height: 1.5;
  color: green;
  min-height: 75px;
}
.slick-arrow {
  position: absolute;
  top: 50%;
  height: 50px;
  line-height: 50px;
  margin-top: -25px;
  border: none;
  background: transparent;
  color: green;
  font-family: monospace;
  font-size: 2rem;
  z-index: 300;
  outline: none;
}
.fa-arrow-right-long:hover {
  color: #1cac27ad;
}
.fa-arrow-left-long:hover {
  color: #1cac27ad;
}
.slick-prev {
  right: 84px;
  text-align: left;
  top: -80px;
}
.slick-next {
  right: 25px;
  text-align: right;
  top: -80px;
}
.fa-newspaper {
  transform: rotateX(90deg);
  transform: rotateY(180deg);
  margin-right: 5px;
}
.box-img-square {
  position: relative;
}
.date-time {
  position: absolute;
  width: 100px;
  height: 100px;
  background-color: #f3b13f;
  bottom: -16px;
  border-radius: 0 5px 0 0;
  text-align: center;
  padding: 10px;
  color: #fff;
}
.box-img-square .date-time .date {
  display: block;
  font-size: 30px;
  border-bottom: 1px solid #fff;
  line-height: 1.5;
}
.box-img-square .date-time .year {
  font-size: 1.125rem;
  line-height: 1.5;
  display: block;
}
.box-img-square:hover {
  transform: scale(1.1);
  transition: all 0.3s ease-in-out;
}
.testimonial .testimonial-inner .title-testimonial {
  text-align: center;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  font-size: 1.625rem;
  color: green;
  font-weight: bold;
}
.testimonial .testimonial-inner .title-testimonial::after {
  content: "";
  position: absolute;
  width: 50%;
  height: 5px;
  background-color: #f3b13f;
  bottom: -9px;
  left: 50%;
  transform: translateX(-50%);
}
.testimonial {
  margin: 50px 0;
}
.contact .box-contact .title-contact {
  text-align: center;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  color: green;
  text-transform: uppercase;
  font-weight: bold;
  margin-top: -15px;
}
.contact .box-contact .title-contact::after {
  content: "";
  position: absolute;
  width: 50%;
  height: 5px;
  background-color: #f3b13f;
  bottom: -9px;
  left: 50%;
  transform: translateX(-50%);
}
.contact {
  margin: 50px 0;
}

.testimonial2 {
  border-right: 4px solid green;
  box-shadow: 5px 5px 10px rgb(0 0 0 / 10%);
  padding: 30px 30px 30px 130px;
  margin: 0 15px 30px 15px;
  overflow: hidden;
  position: relative;
}
.wrap-title-testimonial {
  padding-bottom: 100px;
}
.testimonial2::before {
  content: "";
  position: absolute;
  bottom: -4px;
  left: -16px;
  border-top: 25px solid green;
  border-left: 25px solid transparent;
  border-right: 25px solid transparent;
  transform: rotate(45deg);
}
.testimonial2::after {
  content: "";
  position: absolute;
  top: -4px;
  left: -16px;
  border-top: 25px solid green;
  border-left: 25px solid transparent;
  border-right: 25px solid transparent;
  transform: rotate(135deg);
}
.testimonial2 .pic {
  width: 80px;
  height: 80px;
  top: 40px;
  left: 15px;
  position: absolute;
  overflow: hidden;
  border-radius: 50%;
}
.testimonial2 .pic img {
  width: 100%;
  height: auto;
}
.testimonial2 .description {
  font-size: 15px;
  letter-spacing: 1px;
  color: #6f6f6f;
  line-height: 1.5;
}
.testimonial2 .name {
  font-size: 20px;
  color: green;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin: 0;
  display: inline-block;
  position: relative;
}
.testimonial2 .name::after {
  content: "";
  position: absolute;
  width: 50%;
  height: 5px;
  background-color: #f3b13f;
  bottom: -6px;
  left: 0;
  left: 50%;
  transform: translateX(-50%);
}
.testimonial2 .address {
  color: green;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 16px;
  font-style: italic;
}
.footer {
  background-color: green;
  padding-top: 50px;
}
.fa-location-dot {
  margin-right: 20px;
}
.box-list-phone {
  display: flex;
  color: #fff;
}
.fa-phone {
  margin-right: 20px;
}
.box-end-row {
  display: flex;
  flex-direction: row;
}
.box-end-row .box-list-phone {
  margin-right: 30px;
}
.local-phone {
  min-width: 140px;
  display: inline-block;
  margin-bottom: 10px;
}
.fa-envelope {
  margin-right: 20px;
  margin-top: 4px;
}
.fa-print {
  margin-right: 20px;
  margin-top: 4px;
}
.list-phone a {
  text-decoration: none;
  color: #fff;
}
.list-phone a:hover {
  text-decoration: none;
  color: #f3b13f;
  transition: all 0.3s ease-in-out; 
}
.box-end-row .box-list-phone a {
  text-decoration: none;
  color: #fff;
}
.box-end-row .box-list-phone:hover a {
  color: #f3b13f;
  transition: all 0.3s ease-in-out;
}
.right-footer h3 {
  position: relative;
  font-size: 14px;
  padding-bottom: 20px;
  min-height: 30px;
  color: #fff;
  font-weight: 700;
  display: inline-block;
}
.right-footer h3::after {
  content: "";
  position: absolute;
  width: 50%;
  height: 2px;
  bottom: 0;
  background-color: #f3b13f;
  left: 0;
}
.right-footer ul li {
  list-style-type: none;
  padding: 10px 0;
}
.right-footer ul {
  padding-left: 0;
}
.right-footer ul li a {
  text-decoration: none;
  color: #fff;
  line-height: 1.5;
}
.right-footer ul li:hover a {
  color: #f3b13f;
  transition: all 0.3s ease-in-out;
}
.box-bottom-footer {
  border-top: 1px solid rgba(255, 255, 255, 0.1);
  padding: 20px 0;
  position: relative;
}
.bottom-footer p {
  margin-bottom: 0;
  color: #fff;
}
.bottom-footer p a {
  color: #fff;
  text-decoration: none;
}
.bottom-footer p a:hover {
  color: #f3b13f;
  transition: all 0.3s ease-in-out;
}
.box-social-footer ul {
  list-style-type: none;
  display: inline-block;
}
.box-social-footer {
  display: flex;
}
.box-social-footer ul li {
  display: inline-block;
  padding: 0 5px;
}
.box-social-footer ul li i {
  color: #fff;
}
.box-social-footer ul li:hover i {
  color: #f3b13f;
  transition: all 0.3s ease-in-out;
}
.box-logo-footer {
  max-width: 100%;
  margin-bottom: 5px;
}
.search-banner {
  position: relative;
  display: flex;
  flex-direction: row;
  background-color: green;
  width: 100%;
  padding: 30px 40px;
  align-items: center;
  bottom: 70px;
  left: 50%;
  transform: translateX(-50%);
}
.form-search-banner {
  width: calc(50% - 30px);
  margin-left: 100px;
}
.form-search-banner form {
  height: 100%;
}
.form-search-banner input {
  height: 100%;
  padding: 20px 20px;
  width: 70%;
  border: 1px solid #fff;
  border-radius: 5px 0 0 5px;
}
.form-search-banner input:hover,
.form-search-banner input:focus,
.form-search-banner input:active {
  border: 1px solid #f3b13f;
}
.form-search-banner input:focus-visible {
  outline: none;
}
.form-search-banner button {
  height: 100%;
  width: 29%;
  border: 0;
  border-radius: 0 5px 5px 0;
  background-color: #f3b13f;
  padding-top: 18px;
  padding-bottom: 2px;
  margin-left: -5px;
  color: #fff;
  text-transform: uppercase;
  font-size: 18px;
}
.search-banner h3 {
  color: #fff;
}
.slider-warehouse {
  position: relative;
  margin-top: 100px;
}
.title-warehouse-center .title-warehouse {
  text-align: center;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  font-size: 1.625rem;
  color: green;
  padding-top: 50px;
  text-transform: uppercase;
  font-weight: bold;
}

.title-warehouse-center .title-warehouse::after {
  content: "";
  position: absolute;
  width: 50%;
  height: 5px;
  background-color: #f3b13f;
  bottom: -9px;
  left: 50%;
  transform: translateX(-50%);
}
.name-slider-img {
  transform: translateX(10px);
  width: 100%;
  height: 100%;
  font-size: 25px;
  text-transform: uppercase;
  color: #fff;
  font-weight: bold;
  text-align: center;
  transform: translateY(25%);
}
.name-slider {
  position: absolute;
  width: auto;
  height: auto;
  padding: 10px;
  background-color: rgb(14, 141, 1);
  bottom: 0px;
}
/*slider2 */
.slider-warehouse .slick-dots li {
  margin: -25px 0.25rem;
  z-index: 1;
}
/*box-square */
.box-square {
  margin: 50px 0;
}
.box-square ul {
  display: flex;
  justify-content: space-around;
}
.box-square ul li {
  list-style-type: none;
}
.box-square ul li div {
  background-color: red;
  width: 200px;
  height: 50px;
  border: 1px solid transparent;
}
.info-warehouse .title-info-warehouse {
  text-align: center;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  font-size: 1.625rem;
  color: #fff;
  text-transform: uppercase;
  font-weight: bold;
  padding-top: 20px;
}
.info-warehouse {
  position: relative;
  padding-top: 0;
  padding-bottom: 40px;
  background-color: green;
}
.info-warehouse .title-info-warehouse::after {
  content: "";
  position: absolute;
  width: 50%;
  height: 5px;
  background-color: #f3b13f;
  bottom: -9px;
  left: 50%;
  transform: translateX(-50%);
}
.address-info-warehouse {
  padding-top: 100px;
  padding-bottom: 10px;
  text-align: center;
}
.address-info-warehouse p {
  color: #fff;
  font-size: 18px;
  font-weight: bold;
}
.info-warehouse .text-line p {
  color: #fff;
  margin-bottom: 0;
  line-height: 1.5;
}
.diagram-warehouse .title-diagram-warehouse {
  text-align: center;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  font-size: 1.625rem;
  color: green;
  text-transform: uppercase;
  font-weight: bold;
  padding-top: 50px;
}
.diagram-warehouse {
  position: relative;
  padding-top: 0;
  padding-bottom: 40px;
}
.diagram-warehouse .title-diagram-warehouse::after {
  content: "";
  position: absolute;
  width: 50%;
  height: 5px;
  background-color: #f3b13f;
  bottom: -9px;
  left: 50%;
  transform: translateX(-50%);
}
.img-diagram-warehouse {
  padding-top: 150px;
  max-width: 100%;
  max-height: 100%;
}
.img-diagram-warehouse img {
  width: 100%;
}
.box-img-exp:hover {
  transform: scale(1.1);
  transition: all 0.3s;
}
.box-img-hn:hover {
  transform: scale(1.1);
  transition: all 0.3s;
}

/* bootstrap md 768px */
@media (min-width: 768px) and (max-width: 991px) {
  .navbar-toggler {
    border: none;
    color: #fff;
  }
  button:focus:not(:focus-visible) {
    outline: none;
  }
  .navbar-toggler:focus {
    box-shadow: none;
  }
  .search-banner {
    flex-direction: column;
    align-items: flex-start;
  }
  .form-search-banner {
    margin-left: 0;
    width: 100%;
  }
  .search-banner h3 {
    margin-bottom: 20px;
  }
  .text-line {
    margin-top: 10px;
  }
  .right-footer {
    margin-top: 10px;
  }
  .box-bottom-footer::after {
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    position: absolute;
    content: "";
    bottom: 72px;
    width: 100%;
  }
  .order {
    order: 2;
  }
  .box-social-footer {
    order: 1;
  }
}
/* bootstrap sm 576px */
@media (min-width: 576px) and (max-width: 767px) {
  .navbar-toggler {
    border: none;
    color: #fff;
  }
  button:focus:not(:focus-visible) {
    outline: none;
  }
  .navbar-toggler:focus {
    box-shadow: none;
  }
  .search-banner {
    flex-direction: column;
    align-items: flex-start;
  }
  .form-search-banner {
    margin-left: 0;
    width: 100%;
  }
  .search-banner h3 {
    margin-bottom: 20px;
  }
  .text-line {
    margin-top: 10px;
  }
  .right-footer {
    margin-top: 10px;
  }
  .box-bottom-footer::after {
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    position: absolute;
    content: "";
    bottom: 72px;
    width: 100%;
  }
  .box-square ul {
    flex-direction: column;

    padding: 0px 158px;
  }
  .box-square ul li {
    margin-bottom: 10px;
  }
  .order {
    order: 2;
  }
  .box-social-footer {
    order: 1;
  }
}
@media (max-width: 575px) {
  .navbar-toggler {
    border: none;
    color: #fff;
  }
  button:focus:not(:focus-visible) {
    outline: none;
  }
  .navbar-toggler:focus {
    box-shadow: none;
  }
  .search-banner {
    flex-direction: column;
    align-items: flex-start;
  }
  .form-search-banner {
    margin-left: 0;
    width: 100%;
  }
  .search-banner h3 {
    margin-bottom: 20px;
  }
  .text-line {
    margin-top: 10px;
  }
  .right-footer {
    margin-top: 10px;
  }
  .box-bottom-footer::after {
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    position: absolute;
    content: "";
    bottom: 100px;
    width: 100%;
  }
  .des-service-custom {
    padding: 0 40px;
  }
  .form-search-banner button {
    padding-top: 21px;
    padding-bottom: 4px;
    margin-left: -6px;
    font-size: 15px;
  }
  .name-slider-img {
    font-size: 18px;
  }
  .exploit .title-exploit {
    font-size: 20px;
  }
  .hotnews .title-hotnews {
    font-size: 20px;
  }
  .slick-prev {
    right: 60px;
    text-align: left;
    top: -85px;
  }

  .slick-next {
    right: 25px;
    text-align: right;
    top: -85px;
  }
  .testimonial2 .name {
    font-size: 14px;
  }
  .testimonial2 .address {
    font-size: 12px;
  }
  .search-banner {
    bottom: 110px;
  }
  .slick-dots li {
    margin: -115px 0.25rem;
    z-index: 1;
  }
  .testimonial .testimonial-inner .title-testimonial {
    font-size: 20px;
  }
  .diagram-warehouse .title-diagram-warehouse {
    font-size: 20px;
  }
  .info-warehouse .title-info-warehouse {
    font-size: 20px;
  }
  .title-warehouse-center .title-warehouse {
    font-size: 20px;
  }
  .custom .title-custom {
    font-size: 20px;
  }
  .box-square ul {
    flex-direction: column;

    padding: 0px 76px;
  }
  .box-square ul li {
    margin-bottom: 10px;
  }
  .order {
    order: 2;
  }
  .box-social-footer {
    order: 1;
  }
}
