* {
  box-sizing: border-box;
  margin: 0;
}
.container {
  max-width: 1250px;
  margin-left: auto;
  margin-right: auto;
}
.wrap-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
}
.bg-content {
  padding: 10px 10px;
}
.header-top {
  background-color: #207dff;
}
.info-header {
  color: #fff;
  font-size: 16px;
  font-weight: 500;
}
.info-header .fa-solid {
  margin-right: 10px;
}
.logo-header {
  width: 450px;
}

.logo-header img {
  width: 100%;
  height: auto;
}
.menu-ul {
  width: 65%;
}
.menu-ul ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style-type: none;
  padding-left: 0;
}
.menu-ul ul li {
  padding: 0 5px;
  position: relative;
  z-index: 99;
}
.menu-ul ul li a {
  text-decoration: none;
  border-radius: 5px;
  display: block;
  position: relative;
  z-index: 1;
}
.menu-ul ul li a.active {
  background: #fe5f55;
}
.menu-ul ul li .active h2 {
  color: #fff;
}
.menu-ul ul li a h2 {
  text-decoration: none;
  font-size: 15px;
  text-transform: uppercase;
  color: #000000;
  font-weight: 550;
  padding: 10px 13px;
  font-family: Arial;
  transition: 0.3s ease-out;
}
.menu-ul ul li .transition:hover {
  background-color: #fe5f55;
}
.menu-ul ul li a:hover h2 {
  color: #fff;
  transition: 0.3s ease-out;
}
.transition {
  transition: 0.3s ease-out;
}
.menu-ul ul li ul {
  flex-direction: column;
  opacity: 0;
  position: absolute;
  box-shadow: 0 3px 11px 0 rgb(0 0 0 / 10%);
  width: 95%;
  transition: all 0.5s;
  transform: perspective(600px) rotateX(-90deg);
  transform-origin: 0 0 0;
}
.menu-ul ul li ul li {
  padding: 0;
  width: 100%;
}
.menu-ul ul li ul li a {
  border-bottom: 1px solid gray;
}
.menu-ul ul li:hover ul {
  opacity: 1;
  transition: all 0.5s;
  transform: perspective(600px) rotateX(0deg);
  transform-origin: 0 0 0;
}
.slick-arrow {
  position: absolute;
  bottom: 50%;
  border: none;
  background-color: #000000;
  width: 35px;
  height: 50px;
  border-radius: 5px;
  cursor: pointer;
  color: #fff;
  font-size: 24px;
  z-index: 2;
  opacity: 0;
  transition: 0.3s ease-out;
}
.slick-prev {
  left: 0;
  margin-left: 35px;
}
.slick-next {
  right: 0;
  margin-right: 35px;
}
.slider:hover .slick-arrow {
  opacity: 0.3;
  transition: 0.3s ease-out;
}
.slider .slick-arrow:hover {
  opacity: 0.7;
}
.gird {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 100%;
  grid-template-rows: 1fr 1ft;
  gap: 30px;
}

.item-1 {
  /* border: 1px solid black; */
}
.item-2 {
  max-width: 100%;
  max-height: 100%;
}
.item-2 img {
  width: 100%;
  height: 90%;
}
.item-1 .text-about {
  letter-spacing: 10px;
  font-size: 25px;
  color: #fe5f55;
}
.item-1 h3 {
  letter-spacing: 10px;
  font-size: 40px;
  color: #207dff;
  text-transform: uppercase;
  font-family: Arial;
  position: relative;
  padding-bottom: 17px;
  z-index: 2;
}
.item-1 h3::before {
  content: "";
  bottom: 0;
  left: 0;
  position: absolute;
  background: url(../images/before.png);
  width: 337px;
  height: 32px;
  z-index: -1;
}
.item-1 .text-des {
  font-size: 18px;
  line-height: 1.5;
  text-align: justify;
  position: relative;
  padding-left: 110px;
  margin-bottom: 10px;
  margin-bottom: 40px;
}
.item-1 .text-des::before {
  content: "";
  position: absolute;
  left: 0;
  top: 11px;
  width: 100px;
  height: 2px;
  background-color: #fe5f55;
}
.wrap-about {
  margin-top: 50px;
  background: url(../images/about.png) no-repeat right 150px;
}
.btn-see-more {
  padding: 12px 25px;
  background-color: #207dff;
  color: #fff;
  text-transform: uppercase;
  text-decoration: none;
  border-radius: 5px;
  margin-left: 110px;
  font-weight: bold;
  font-family: Arial;
  transition: 0.3s;
}
.btn-see-more:hover {
  background-color: #fe5f55;
  text-decoration: underline;
}
.btn-see-more .fa-regular {
  margin-left: 10px;
}
.title-main {
  margin-bottom: 20px;
  text-align: center;
  position: relative;
  padding-bottom: 35px;
}
.title-main p {
  position: absolute;
  padding-bottom: 15px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 34px;
  font-weight: bold;
  font-family: Arial;
  color: #fe5f55;
}
.title-main p::before {
  content: "";
  position: absolute;
  width: 25%;
  border-bottom: 5px solid var(--color);
  left: 50%;
  transform: translateX(-50%);
  background-color: #207dff;
  height: 5px;
  bottom: 0;
}
.title-name {
  margin-top: 50px;
  margin-bottom: 20px;
  position: relative;
  padding-bottom: 35px;
  background: url(../images//be.png) 0 20px repeat-x;
}
.title-name .product {
  position: absolute;
  padding-bottom: 15px;
  font-size: 34px;
  font-weight: bold;
  font-family: Arial;
  color: #fe5f55;
  background: #fff;
  padding-right: 10px;
}
