* {
  box-sizing: border-box;
  margin: 0;
}
.container {
  max-width: 1250px;
  margin-left: auto;
  margin-right: auto;
}
.wrap-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
}
.bg-content {
  padding: 10px 10px;
}
.header-top {
  background-color: #207dff;
}
.info-header {
  color: #fff;
  font-size: 16px;
  font-weight: 500;
}
.info-header .fa-solid {
  margin-right: 10px;
}
.logo-header {
  width: 450px;
}

.logo-header img {
  width: 100%;
  height: auto;
}
.menu-ul {
  width: 65%;
}
.menu-ul ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style-type: none;
  padding-left: 0;
}
.menu-ul ul li {
  padding: 0 5px;
  position: relative;
  z-index: 99;
}
.menu-ul ul li a {
  text-decoration: none;
  border-radius: 5px;
  display: block;
  position: relative;
  z-index: 1;
}
.menu-ul ul li a.active {
  background: #fe5f55;
}
.menu-ul ul li .active h2 {
  color: #fff;
}
.menu-ul ul li a h2 {
  text-decoration: none;
  font-size: 15px;
  text-transform: uppercase;
  color: #000000;
  font-weight: 550;
  padding: 10px 13px;
  font-family: Arial;
  transition: 0.3s ease-out;
}
.menu-ul ul li .transition:hover {
  background-color: #fe5f55;
}
.menu-ul ul li a:hover h2 {
  color: #fff;
  transition: 0.3s ease-out;
}
.transition {
  transition: 0.3s ease-out;
}
.menu-ul ul li ul {
  flex-direction: column;
  opacity: 0;
  position: absolute;
  box-shadow: 0 3px 11px 0 rgb(0 0 0 / 10%);
  width: 95%;
  transition: all 0.5s;
  transform: perspective(600px) rotateX(-90deg);
  transform-origin: 0 0 0;
  background-color: #fff;
}
.menu-ul ul li ul li {
  padding: 0;
  width: 100%;
}
.menu-ul ul li ul li a {
  border-bottom: 1px solid gray;
}
.menu-ul ul li:hover ul {
  opacity: 1;
  transition: all 0.5s;
  transform: perspective(600px) rotateX(0deg);
  transform-origin: 0 0 0;
}
.slick-arrow {
  position: absolute;
  bottom: 50%;
  border: none;
  background-color: #000000;
  width: 35px;
  height: 50px;
  border-radius: 5px;
  cursor: pointer;
  color: #fff;
  font-size: 24px;
  z-index: 2;
  opacity: 0;
  transition: 0.3s ease-out;
}

.slider-for .slick-slider-arrow {
  position: absolute;
  bottom: 50%;

  margin-bottom: -20px;

  border-radius: 5px;
  cursor: pointer;
  color: #fff;
  z-index: 2;
  opacity: 0;
  transition: 0.3s ease-out;
}
.sld-wrp:hover .slider-for .slick-next {
  opacity: 0.5;
  transition: 0.3s ease-out;
  transform: translate3d(48px, 0, 0);
}
.sld-wrp:hover .slider-for .slick-prev {
  opacity: 0.5;
  transition: 0.3s ease-out;
  transform: translate3d(-48px, 0, 0);
}
.slider-for .slick-prev {
  left: 0;
  margin-left: 60px;
}
.slider-for .slick-next {
  right: 0;
  margin-right: 60px;
}
.slick-prev {
  left: 0;
  margin-left: 35px;
}
.slick-next {
  right: 0;
  margin-right: 35px;
}
.slider:hover .slick-arrow {
  opacity: 0.3;
  transition: 0.3s ease-out;
}
.slider .slick-arrow:hover {
  opacity: 0.7;
}
.gird {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 100%;
  grid-template-rows: 1fr;
  gap: 30px;
}

.item-1 {
  /* border: 1px solid black; */
}
.item-2 {
  max-width: 100%;
  max-height: 100%;
}
.item-2 img {
  width: 100%;
  height: 90%;
}
.item-1 .text-about {
  letter-spacing: 10px;
  font-size: 25px;
  color: #fe5f55;
}
.item-1 h3 {
  letter-spacing: 10px;
  font-size: 40px;
  color: #207dff;
  text-transform: uppercase;
  font-family: Arial;
  position: relative;
  padding-bottom: 17px;
  z-index: 2;
}
.item-1 h3::before {
  content: "";
  bottom: 0;
  left: 0;
  position: absolute;
  background: url(../images/before.png);
  width: 337px;
  height: 32px;
  z-index: -1;
}
.item-1 .text-des {
  font-size: 18px;
  line-height: 1.5;
  text-align: justify;
  position: relative;
  padding-left: 110px;
  margin-bottom: 10px;
  margin-bottom: 40px;
}
.item-1 .text-des::before {
  content: "";
  position: absolute;
  left: 0;
  top: 11px;
  width: 100px;
  height: 2px;
  background-color: #fe5f55;
}
.wrap-about {
  margin-top: 50px;
  background: url(../images/about.png) no-repeat right 150px;
}
.btn-see-more {
  padding: 12px 25px;
  background-color: #207dff;
  color: #fff;
  text-transform: uppercase;
  text-decoration: none;
  border-radius: 5px;
  margin-left: 110px;
  font-weight: bold;
  font-family: Arial;
  transition: 0.3s;
}
.btn-see-more:hover {
  background-color: #fe5f55;
  text-decoration: underline;
}
.btn-see-more .fa-regular {
  margin-left: 10px;
}
.title-main span {
  font-size: 30px;
  font-weight: bold;
  text-transform: uppercase;
  font-family: Arial;
  color: #fe5f55;
}
.title-main {
  position: relative;
  text-align: center;
  padding-bottom: 20px;
  margin-bottom: 20px;
}
.title-main::before {
  content: "";
  position: absolute;
  width: 100px;
  height: 5px;
  background-color: #207dff;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}
/*title name*/
.title-name {
  position: relative;
  background: url(../images//be.png) 0 19px repeat-x;
}
.title-name::before {
  content: "";
  position: absolute;
  width: 45px;
  height: 56px;
  left: 0;
  border: 5px solid #fe5f55;
}
.title-name span {
  font-size: 30px;
  font-weight: bold;
  color: #207dff;
  background: #fff;
  padding: 0 20px 0 70px;
}
.title-name p {
  letter-spacing: 2px;
  margin-top: 14px;
  padding-left: 70px;
  font-family: Arial;
  font-size: 14px;
}
/* page-product */
.gird-page {
  margin: 50px 0;
}
.paging-product {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 30px;
}
.pic-product img {
  width: 100%;
}
.box-product {
  position: relative;
}
.over-product {
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgb(0 0 0 / 25%);
  left: 0;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
}
.name-product {
  font-size: 22px;
  font-weight: bold;
  font-family: Arial;
  position: relative;
}
.info-product {
  position: absolute;
  width: calc(100% - 60px);
  height: calc(100% - 60px);
  left: 30px;
  top: 30px;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  border: 1px solid #fff;
  padding: 30px;
  background: rgb(0 0 0 / 60%);
  transition: 0.3s;
  opacity: 0;
  transform: scale(0);
}
.desc-product {
  line-height: 1.5;
  text-align: center;
}
.text-split {
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  display: -webkit-box;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: normal;
}
.name-product.text-split {
  overflow: hidden;
}
.info-product .name-product::before {
  content: "";
  position: absolute;
  width: 25%;
  height: 5px;
  background-color: #fe5f55;
  bottom: -11px;
  left: 50%;
  transform: translateX(-50%);
  transition: 0.3s;
}
.box-product:hover .info-product {
  opacity: 1;
  transition: 0.3s;
  transform: scale(1);
}
.box-product:hover .over-product .name-product {
  opacity: 0;
}
.name-product:hover {
  color: #207dff;
  transition: 0.3s;
}
.gird-service {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 30px;
  margin: 50px 0;
}
.pic-service img {
  width: 100%;
  transition: 0.3s;
}
.pic-service {
  overflow: hidden;
}
.pic-service:hover img {
  transform: scale(1.1);
  transition: 0.3s;
}
.text-decoration-none {
  text-decoration: none;
}
.title-service p {
  color: #000000;
  font-size: 24px;
  font-family: Arial;
  font-weight: bold;
  transition: 0.3s;
}
.title-service:hover p,
.item-service .title-service:hover p {
  color: #fe5f55;
  transition: 0.3s;
}
.desc-service p {
  color: #000000;
  font-size: 18px;
  font-family: Arial;
  line-height: 1.5;
}
.btn-seemore {
  font-size: 16px;
  text-transform: uppercase;
  color: #fe5f55;
  background: url(../images/more1.png) right center no-repeat;
  padding-right: 20px;
  font-family: Arial;
  font-weight: bold;
}
.margin-title {
  margin: 10px 0;
}
.gird-service-inner .item {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 20px;
  grid-template-rows: 153px;
}
.item-service .title-service p {
  color: #000000;
  font-size: 18px;
  font-family: Arial;
  font-weight: bold;
  transition: 0.3s;
}
.item-service .desc-service p {
  color: #000000;
  font-size: 16px;
  font-family: Arial;
  line-height: 1.5;
}
/* feature news */
.title-gird-feature-news {
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 30px;
}
.feature-news {
  display: flex;
  margin: 30px 0;
}

.box-feature-news {
  flex: 2;
  overflow: hidden;
}
.item-feature {
  display: flex;
  flex-direction: row-reverse;
  margin-bottom: 20px;
}
.list-news {
  flex: 1;
}
.item-feature-img {
  margin-right: 30px;
  height: 200px;
  flex-shrink: 0;
  overflow: hidden;
  flex: 1;
}
.item-feature-img:hover img {
  transform: scale(1.1);
  transition: 0.3s;
}
.item-feature-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  flex-shrink: 0;
  transition: 0.3s;
}
.title-feature:hover h3 {
  color: #fe5f55;
  transition: 0.3s;
}
.title-feature h3 {
  font-family: Arial;
}
.desc-feature p {
  font-size: 16px;
  line-height: 1.5;
}
.btn-feature span {
  border-radius: 10px;
  background: url("http://humanstemcell.net/assets/images/more.png") 85% center
    no-repeat;
  padding: 10px 45px 10px 35px;
  background-color: #207dff;
  font-family: Arial;
  font-weight: bold;
  text-transform: uppercase;
  color: #fff;
  transition: 0.3s;
}
.btn-feature {
  margin-top: 20px;
}
.btn-feature:hover span {
  background-color: #fe5f55;
  transition: 0.3s;
}
.item-feature:nth-child(2n + 1) {
  flex-direction: row;
}
.item-feature-text {
  margin-right: 30px;
  flex: 2;
}
.slick-vertical .slick-slide {
  display: flex !important;
}
.item-news {
  display: flex;
  flex-direction: row;
  margin-bottom: 20px;
}
.item-news-img {
  margin-right: 10px;
  height: 130px;
  flex-shrink: 0;
  overflow: hidden;
}
.item-news-img:hover img {
  transition: 0.3s;
  transform: scale(1.1);
}
.item-news-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  flex-shrink: 0;
  transition: 0.3s;
}
.item-feature-text .title-feature.text-split {
  -webkit-line-clamp: 2;
}
.slider-for {
  display: flex;
  justify-content: center;
}
.sld-wrp {
  max-width: 100%;
  width: 100%;
  max-height: 100%;
}
.slick-initialized .slick-slide {
  display: flex !important;
  justify-content: center;
  align-items: center;
  margin: 20px 10px;
}
.slider-nav {
  overflow: hidden;
  width: 100%;
  height: 130px;
}
.slider-for {
  text-align: center;
}
.slide-btn img {
  width: 100px;
  height: 100px;
}
.slider-nav .slick-current,
.slider-nav .slick-slide:hover {
  cursor: pointer;
  border-width: 2px;
  border-color: #207dff;
  border-style: solid;
}
