* {
  box-sizing: border-box;
}

.img-1 {
  margin: 0;
  padding: 0;
  max-width: 100%;
  width: 100%;
  background-size: cover;
}

body {
  margin: 0;
}
.background {
  background-image: url("../images/background.jpg");
  width: 100%;
  height: 455px;
}
.container {
  display: flex;
  justify-content: center;
}
.title {
  font-size: 30px;
  color: #f80404;
  text-align: center;
  font-weight: bold;
  margin-top: 76px;
  font-family: Arial;
  top: -73px;
  width: auto;
  position: absolute;
}
.title:hover {
  color: blue;
  background-color: #fff;
}
.text-image {
  text-align: center;
  color: #fbfbfb;
  font-size: 20px;
  font-weight: 500;
  font-family: Arial;
}
.container2 {
  display: flex;
  flex-direction: row;
}
.box {
  box-shadow: 0 0 5px 0;
  width: 515px;
  margin-top: 15px;
  border-radius: 20px;
  height: 144px;
}
.box:hover {
  box-shadow: 0 0 20px 0;
  width: 515px;
  margin-top: 15px;
  border-radius: 20px;
  height: 144px;
}
.box-v1 {
  box-shadow: 0 0 5px 0;
  width: 515px;
  margin-top: 15px;
  border-radius: 20px;
  height: 120px;
}
.box-v1:hover {
  box-shadow: 0 0 20px 0;
  width: 515px;
  margin-top: 15px;
  border-radius: 20px;
  height: 120px;
}
.text-title {
  color: #f80404;
  font-weight: bold;
  padding-top: 16px;
  font-family: arial;
}
.text {
  line-height: 1.25;
  font-size: 17px;
  height: 30px;
}
.text-person {
  font-family: Arial;
  font-weight: bold;
  font-size: 25px;
}
.person {
  margin-top: 94px;
  text-align: center;
}
.text-videos {
  color: #f80404;
  font-size: 20px;
  font-weight: bold;
  font-family: Arial;
}
.image {
  display: flex;
  flex-flow: row wrap;
  margin-left: 91px;
  margin-right: 91px;
  margin-top: 23px;
}
.col {
  flex: 1 0;
  margin: 5px;
}
.button {
  margin-top: 43px;
  display: flex;
  justify-content: center;
}
.text-button {
  display: flex;
  background-color: #ffffff;
  border: 1px solid #333333;
  padding-top: 13px;
  padding-left: 20px;
  padding-bottom: 13px;
  color: #6e6d6e;
  border-radius: 5px;
  flex-direction: row;
  position: relative;
  z-index: 1;
}
.text-button::before {
  content: "";
  background: linear-gradient(
    45deg,
    #ff0000,
    #ff7300,
    #fffb00,
    #48ff00,
    #00ffd5,
    #002bff,
    #7a00ff,
    #ff00c8,
    #ff0000
  );
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing 20s linear infinite;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  border-radius: 10px;
}
.text-button::after {
  z-index: -1;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: #fff;
  left: 0;
  top: 0;
  border-radius: 10px;
}
.text-button:active {
  color: #000;
  border: none;
}
.text-button:active::after {
  background: transparent;
}
.text-button:hover::before {
  opacity: 1;
}
@keyframes glowing {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}
.text-khuyenmai {
  color: #ffffff;
  font-size: 27px;
  font-weight: bold;
  font-family: Arial;
  margin: 10px;
}
.item {
  display: flex;
  justify-content: center;
  margin-left: 85px;
  margin-right: 85px;
  margin-top: 20px;
}
.item-child {
  background-color: #eeeeee;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: 5px;
  margin-right: 5px;
}
.container-text {
  width: 90%;
  padding-left: 10px;
  line-height: 1.5;
  font-family: arial;
}
.container3 {
  background-image: linear-gradient(to right, #d02213, #f93e31d2);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 147px;
}
.text-button-custom {
  display: flex;
  background-color: #d02213;
  border: 1px solid #ffffff;
  margin-top: 0;
  padding-top: 5px;
  padding-left: 20px;
  padding-bottom: 5px;
  color: #ffffff;
  border-radius: 5px;
  flex-direction: row;
  margin-left: 60px;
  font-size: 16px;
}
.text-uu-dai {
  font-family: Arial;
  font-weight: bold;
  color: #ffffff;
  margin-right: 60px;
  font-size: 20px;
}
.text-item-child {
  text-align: center;
  font-weight: bold;
  font-family: arial;
}
.mgr-mgl {
  height: 100%;
  margin-left: 5px;
  margin-right: 5px;
}
.mgr-mgl .hidden:hover {
  border: 1px solid yellow;
  border-radius: 5px;
}
.mgr-mgl:hover img {
  opacity: 0.8;
  transform: scale(1.1);
  border-radius: 10px;
}
.mgr-mgl .hidden {
  overflow: hidden;
}
.overplay {
  position: absolute;
  background-color: #0ec17c;
  bottom: 0%;
  border-radius: 4px;
  z-index: 100;
  width: 100%;
  height: 100%;
  display: none;
  box-shadow: 6px -5px 5px 0px #0ec17c;
}
.img-t-item:hover .overplay {
  opacity: 0.5;
  display: block;
}
.title-1::after {
  content: "";
  display: inline-block;
  width: 50%;
  height: 2px;
  background-color: #f80404;
  position: absolute;
  bottom: -13px;
  left: 50%;
  transform: translateX(-50%);
}
.title-1:hover:after {
  content: "";
  display: inline-block;
  width: 50%;
  height: 2px;
  background-color: blue;
  position: absolute;
  bottom: -13px;
  left: 50%;
  transform: translateX(-50%);
}
.title-container {
  position: relative;
  display: flex;
  justify-content: center;
  margin-top: 100px;
}
.f4-container {
  display: flex;
  justify-content: space-evenly;
  margin-left: 91px;
  margin-right: 91px;
  margin-top: 76px;
}
.img-t-item {
  position: relative;
  margin: 0 0;
}
.img-hv:hover {
  box-shadow: 0 0 20px 0;
}
.wrapper {
  background-color: #f80404;
  position: absolute;
  width: 100%;
  border-radius: 0 0 5px 5px;
  bottom: 4.5px;
}
.doctor-img {
  float: left;
  margin-top: 22px;
  margin-right: 15px;
  margin-left: 10px;
}
.wrap {
  position: relative;
  z-index: 100;
  width: 100%;
  height: 100%;
  padding: 0 60px;
  background-color: #000000;
  overflow: hidden;
}
.slider {
  position: relative;
  z-index: 200;
  padding: 0 0px;
  margin: 5rem auto;
  max-width: 85%;
  width: 100%;
}

.slick-arrow {
  position: absolute;
  top: 50%;
  height: 50px;
  line-height: 50px;
  margin-top: -25px;
  border: none;
  background: transparent;
  color: #fff;
  font-family: monospace;
  font-size: 5rem;
  z-index: 300;
  outline: none;
}

.slick-prev {
  left: -50px;
  text-align: left;
}

.slick-next {
  right: -50px;
  text-align: right;
}

.item.slick-slide {
  width: 400px;
  height: 100%;
  transition: transform 0.4s;
  position: relative;
}

.item.slick-slide {
  transform: scale(0.7) translate(930px);
}

.item.slick-slide.slick-center + .slick-slide {
  transform: scale(0.7) translate(-880px);
  z-index: 10;
}

.item.slick-slide.slick-center + .slick-slide + .item.slick-slide {
  transform: scale(0.7) translate(900px);
  z-index: 5;
}

.item.slick-slide.slick-active {
  transform: scale(0.7) translate(930px);
}

.item.slick-slide.slick-center {
  transform: scale(1);
  z-index: 30;
}

.slick-center:after {
  opacity: 0;
}
.f-footer {
  background-color: #545454;
}
.f-wrap {
  margin-left: 91px;
  margin-right: 91px;
}
.f-ftrow {
  display: flex;
  flex-direction: row;
  padding: 50px 0;
}
ul {
  list-style: none;
}
.color {
  color: #fff;
  margin-right: 5px;
}
.text-logo::before {
  content: "\25A0";
  color: #fff;
  margin-right: 5px;
}
.text-color {
  color: #fdde04;
}
.f-ftcol h1 {
  font-size: 16px;
}
.row {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-row: 20px;
  margin: 0;
}
.col h1 {
  font-size: 16px;
  color: #fdde04;
}
.col .box1 {
  margin-left: 0;
  background: #3b3b3b;
  padding: 5px;
}
.col ul .title-p {
  color: #fdde04;
}
.white-text {
  color: white;
  font-style: normal;

  margin-left: 5px;
}
.margin-sp {
  margin-left: 5px;
  line-height: 1.5;
}
.fb-page {
  margin-top: 16px;
}
.text-hr::after {
  content: "";
  display: inline-block;
  width: 5%;
  height: 2px;
  background-color: #fff;
  position: absolute;
  bottom: 0;
}
.parent {
  position: relative;
}
.hr-bottom {
  display: block;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  margin-left: auto;
  margin-right: auto;
  border-style: dashed;
  border-width: 1px;
  color: #fff;
}
.hr-top {
  display: block;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  margin-left: auto;
  margin-right: auto;
  border-style: inset;
  border-width: 1px;
  color: #fff;
}
.design {
  display: flex;
  justify-content: space-between;
}
.design p {
  color: white;
  font-size: 14px;
}
.list-image {
  overflow: hidden;
}
.item-image:hover img {
  opacity: 0.5;
  transform: scale(1.1);
  border-radius: 25px;
}
